# POSTGRESDB (Docker)

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PGADMIN (Docker)

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# URL for engine postgresSQL (volunteer_management/Database/session.py)
DATABASE_URL = dialect+driver://username:password@host:port/database